@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

#home-component {
	.banner-header {
		min-height: auto;
		color: #fff;

		h3 {
			margin-top: 75px;
			margin-bottom: 250px;
		}

		h5 {
			margin-top: 75px;
			margin-bottom: 250px;
		}

		.btn-know-products {
			background-color: #5FB6D0;
			border-radius: 48px;
			margin-bottom: 100px;
		}
	}

	.collection-gods {
		left: 80px;
		top: 88px;
		padding: 100px;
		font-family: 'Advent Pro', sans-serif;

		h3 {
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 57px;

			color: #F27405;
		}

		p {
			color: #E5E5E5;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 29px;
		}
	}

	.collection-grandma {
		font-family: 'Advent Pro', sans-serif;
		padding: 50px;
		text-align: end;

		h3 {
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 57px;

			color: #3ABEFF;
		}

		p {
			color: #E5E5E5;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 29px;
		}
	}

	.collection-traditional {
		left: 80px;
		top: 88px;
		padding: 100px;
		font-family: 'Advent Pro', sans-serif;

		h3 {
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 57px;

			color: #fff;
		}

		p {
			color: #E5E5E5;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 29px;
		}
	}

	.collection-carousel {
		padding: 25px;
	}
}


.selecting_languages {
	span {
		img {
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.over-age {
	background-image: url('./../../assets/images/bg_pattern_overage.png');
	background-repeat: repeat;
}
